<?xml version="1.0"?>
<!--
/**
* CoinGate module dependency
*
* @category    CoinGate
* @package     CoinGate_Merchant
* @author      CoinGate
* @copyright   CoinGate (https://coingate.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <coingate_merchant>
                <active>0</active>
                <model>CoinGate\Merchant\Model\Payment</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Bitcoin via CoinGate</title>
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </coingate_merchant>
        </payment>
    </default>
</config>
