<?xml version="1.0"?>
<!--
/**
* CoinGate admin configuration
*
* @category    CoinGate
* @package     CoinGate_Merchant
* @author      CoinGate
* @copyright   CoinGate (https://coingate.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="CoinGate\Merchant\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="coingate_merchant" xsi:type="const">CoinGate\Merchant\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="coingate_merchant_config_provider" xsi:type="object">CoinGate\Merchant\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
